/*// CREATE BY jibeyyy
//   2023
// vitrine site
*/

body {
    font-family: cursive, Helvetica, Arial;
    font-size: 15px;
    background: linear-gradient(0deg, rgba(204, 204, 204, 1) 12%, rgba(144, 238, 144, 0.9766281512605042) 98%);
}

.arrow {
    font-size: 2em;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.activiNav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*  ///  start home page   ///
*/

.mainHome {
    background-image: url('../images/ArbreRacine.jpg');
    background-size: 100% 100%;
    background-position: center;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.item {
    text-align: center;
    display: flex;
    justify-content: center;
}

.item1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 48%;
    font-size: smaller;
}

.item1 a {
    border: solid 0.5px gold;
    padding: 5px 15px;
}

.item a {

    color: gold;
    font-size: 2em;
}

.item2 {
    height: 15%;
    align-items: center;
}

.item3 {
    height: 20%;
    align-items: center;
}

.item4 {
    height: 20%;
    align-items: center;
}

.headMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    padding: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 5px 0;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #0c7a20;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

a:active {
    background-color: #00ff35;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: wait;
}

.logo {
    width: 80px;
    border-radius: 50%;
}

/* end home page */

/* header commun */

.burger-icon {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
}

.sidenav {
    display: block;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span {
    visibility: visible;
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.headOtherMobi {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgreen;
    padding: 20px;
}

.headDesk {
    display: none;
}

/* end header commun */

/* competence page  */

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

/* end competence page */

/* valeur page */

.mainValeur {

    text-align: center;
    margin: 1em;
    font-size: 1.5em;

}

.grid {
    background: linear-gradient(96deg, #0f01fc 0%, #00d4ff 50%);
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
    border-radius: 10px;
}

.grid div {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.grid i {
    font-size: 2em;
}

.grid h3 {
    font-size: 1.5em;
}

/* end valeur page */

/* about page */

.aboutMain {
    text-align: center;
}

.sectionAbout {
    display: flex;
    flex-direction: column;

}

.aboutImg h3 {
    width: 60%;
    margin: 20px auto;
    color: green;
    border-bottom: 1px solid green;
    padding: 10px;
    box-shadow: 2px 1px darkgreen;
}

.aboutImg img {
    width: 80%;
}

.aboutText {
    line-height: 1.5em;
    width: 85%;
    margin: 10px auto;
    text-align: justify;
}

/* end about page */

/*
////////////////////////////////////////
///////////// FOOTER ///////////////////
*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
}

footer h3 {
    color: green;
    border-bottom: 1px solid green;
    padding-bottom: 5px;
}


.listFoot a {
    color: grey;
}

.listFoot a:hover {
    background-color: lightgreen;
    color: black;
}



/*////////// SECTION RESPONSIVE SITE ////////////*/

@media only screen and (min-width: 600px) {

    body {
        font-size: 16px;
        background: linear-gradient(0deg, rgba(204, 204, 204, 1) 12%, rgba(144, 238, 144, 0.9178046218487395) 98%);
    }
    /* header */
    .headOtherMobi {
        display: none;
    }
    .headDesk {
        display: block;
        background-image: url('../images/cerisier.jpg');
        background-position: top;
        background-size: 100% 285%;
        background-repeat: no-repeat;
        height: 200px;
    }
    .headLogo {

        background-color: lightgreen;
        display: flex;
        opacity: 0.8;
        height: 50px;
        align-items: center;
        font-size: small;
        justify-content: space-around;
    }
    .logo {
        width: 50px;
        border-radius: 50%;
    }
    .navHead {
        margin: 0;
        width: 60%;
    }
    .navHead ul {
        display: flex;
        justify-content: space-around;
    }
    .navHead ul a {
        color: #000;
        font-size: 14px;
        padding: 5px;
    }
    a:hover {
        background-color: #0c7a20;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;

    }

    a:active {
        background-color: #00ff35;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: wait;
    }

    /* end header */
    .item1 {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        height: 40%;


        -moz-text-align: center;
        -moz-display: flex;
        -moz-flex-direction: row;
        -moz-align-items: end;
        -moz-justify-content: center;
        -moz-height: 40%;
    }
    .item1 a {
        display: flex;
        width: 140px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        border: none;
        transform-origin: center;
        transform: rotate(90deg);
        transition: transform 1s;
        justify-content: center;
        border-radius: 15px;
        padding: 12px 14px;

        -moz-display: flex;
        -moz-width: 140px;
        -moz-background-color: #4CAF50;
        -moz-color: white;
        -moz-font-size: 16px;
        -moz-border: none;
        -moz-transform-origin: center;
        -moz-transform: rotate(90deg);
        -moz-transition: transform 1s;
        -moz-justify-content: center;
        -moz-border-radius: 15px;
        -moz-padding: 12px 14px;
    }

    .item1 a:hover {
        transform: rotate(0deg);

    }

    .item2 {
        height: 18%;
        align-items: end;
    }

    .item3 {
        height: 20%;
        align-items: center;
    }

    .item4 {
        height: 14%;
        align-items: center;
    }

    .aboutImg h3 {
        font-size: 2em;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    footer div {
        font-size: 20px;
        width: 20%;
    }
    /* valeur page */
    .grid {
        background: linear-gradient(96deg, #0f01fc 0%, #00d4ff 50%);
        width: 85%;
        display: flex;
        flex-flow: row-reverse;
        margin: 10px auto;
        justify-content: space-around;
        padding: 30px 20px;
        font-size: 10px;
    }
    .grid div {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        text-align: center;
    }
    .grid i {
        font-size: 2em;
    }
    .grid h3 {
        font-size: 1.5em;
    }
    /* end valeur page */
}

@media only screen and (min-width: 900px) {

    body {
        font-size: 18px;
        background: linear-gradient(0deg, rgba(204, 204, 204, 1) 12%, rgba(144, 238, 144, 0.9178046218487395) 98%);
        -moz-font-size: 18px;
        -moz-background: linear-gradient(0deg, rgba(204, 204, 204, 1) 12%, rgba(144, 238, 144, 0.9178046218487395) 98%);
        -ms-font-size: 18px;
        -ms-background: linear-gradient(0deg, rgba(204, 204, 204, 1) 12%, rgba(144, 238, 144, 0.9178046218487395) 98%);
    }

    .mainHome {
        width: 80%;
        margin: 0 auto;
        border-radius: 20px;
    }
    .headDesk {

        background-repeat: no-repeat;
        width: 80%;
        margin: 0 auto;
        height: 350px;
        border-radius: 20px;
    }
    .navHead {
        margin: 0;
        width: 50%;
    }
    .navHead ul {
        display: flex;
        justify-content: space-around;
    }
    .navHead ul a {
        color: #000;
        font-size: 16px;
        padding: 5px;
    }
    .navHead ul a:hover {
        color: #fff;
        transform: scale(1.5);
    }
    .logo {
        width: 85px;
        border-radius: 50%;
    }
    .headLogo {
        background-color: lightgreen;
        display: flex;
        opacity: 0.8;
        justify-content: space-evenly;
        height: 90px;
        align-items: center;
    }
    .sectionAbout {
        margin: 20px auto;
        width: 80%;
    }
    .aboutImg h3 {
        font-size: 3em;
        text-shadow: 1px 0px #000;
    }
    .aboutImg img {
        width: 60%;
        border-radius: 20px;
    }
    a:hover {
        background-color: #0c7a20;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
    }

    a:active {
        background-color: #00ff35;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: wait;

    }
    /* valeur page */
    .mainValeur {
        text-align: center;
        margin: 3em;
        font-size: 1.5em;
    }

    .grid {
        background: linear-gradient(96deg, #0f01fc 0%, #00d4ff 50%);
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
        justify-content: space-between;
        padding: 30px 20px;
        font-size: 1em;
        border-radius: 10px;
    }

    .grid div {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 0;
        text-align: center;
    }
    /* Activitis page */
    .cont-hoover {
        display: flex;
        position: relative;
        width: 50%;
        margin: 10px auto;
    }
    .cont-hoover img {
        max-width: 100%;
    }

    .hover {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 20px;
        left: 36px;
        border: 2px solid #fff;
        background-color: rgba(50, 93, 43, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.6s;

    }

    .hover:hover {
        opacity: 1;

    }

    .hover p {
        border: none;
        color: #fff;
    }
    .arrow {
        font-size: 2em;
        position: fixed;
        bottom: 16px;
        right: 40px;

    }
}
